body {
    background-color: #f7ecdb;
    font-family: Arial, sans-serif;
    color: #432918;
    margin: 0;
}

header{
    background-color:#432918;
    color: white;
    text-align: center;
    padding: 5px;
}

header h1{
    font-size: 40px;

}

header p{
    font-size: 20px;
}

nav{
    padding: 20px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    display:flex;
    justify-content: center;
    gap: 100px;
}

nav ul li a{
    text-decoration: none;
    color:#f7ecdb;
    background-color: #432918;
    padding: 10px 20px;
    border-radius: 25px;
}

#productos{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

#productos article{
    background-color:#432918;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 35px;
    margin: 50px;
}

#productos img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#inicio h2{
    font-size: 40px;
    margin: 50px;
    text-align: center;
}

#inicio p{
    margin: 15px;
    text-align: center;
}

#productos h2{
    font-size: 40px;
    margin: 35px;
    width: 100%;
    text-align: center;
}

#productos h3{
    font-size: 35px;
    margin: 35px;
}

.precio{
    font-size: 30px;
    color: #f7ecdb;
}

#horarios {
    background-color:#432918;
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 100px;
    margin: 35px;
}

#horarios h2{
    font-size: 30px;
}

#contacto{
    padding: 80px 20px;
    text-align: center;
}

#contacto form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

#contacto label{
    font-size: 20px;
    text-align: left;
}

#contacto input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #432918;
    border-radius: 5px;
}

button{
    padding: 10px;
    font-size: 16px;
    background-color: #432918;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #432918;
    color: white;
}

#promociones{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

#promociones article{
    background-color:#432918;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 35px;
    margin: 50px;
}

#promociones img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#promociones h2{
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin: 15px;
}

#promociones p{
    width: 100%;
    text-align: center;
    margin: 15px;
}
